{% extends 'users/base_users.html' %}

{% block body %}
<div id="landing_page" class="container">
    <div class="row">
        <div class="col-sm-2">   
        </div>
        <div class="col-sm-8">
            <h1 id="landing">Planit</h1>  
            <h4 id="login_info"><span id="login_planit">Planit</span> is a mobile friendly task tracker, dinner planner and weather checker, designed for you and your family.</h4>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock %}