{% extends 'users/base_users.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div id="form" class="container border shadow-sm p-3">  
                <div class="container">
                    <h3 id="planit">Planit</h3>
                    <h5 id="form-title">Login</h5>
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <p><i id="icon" class="fas fa-envelope"></i> {{form.username}}</p>
                            <p><i id="icon" class="fas fa-lock"></i> {{form.password}}</p>
                            {% if form.errors %}
                                <p id="error"> Username or password incorrect</p>
                            {% endif %}
                            <br>
                            <button id="form-button" type="submit">Login</button>
                        </form>
                        <br>
                        <p class="custom_p">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
                        <p class="custom_p">Forgot password? <a href="{% url 'password_reset' %}">Reset password</a></p>
                </div>   
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}