{% extends 'users/base_users.html' %}

{% block body %}
<div id="form_outside" class="container">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div id="form" class="container border shadow-sm p-3">
				<h3 id="planit">Planit</h3>
				<p>
				   An email has been sent to the address provided, it contains instructions and a link to reset your password.
				</p>
				<a href="{% url 'login' %}">Back to login page</a>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>
{% endblock %}