{% extends 'users/base_users.html' %}

{% block body %}
<div class="container">
	<div id="form_outside" class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div id="form" class="container border">
				<h3 id="planit">Planit</h3>
				<h5 id="form-title">Forgot password:</h5>
				<p>Please enter your email address, a link will be sent with instructions to reset your password.</p>
				<form method="POST" action="{% url 'password_reset' %}">
					{% csrf_token %}
					<p><i id="icon" class="fas fa-envelope"></i> {{form.email}}</p>
					<br>
					<button id="form-button" type="submit">Reset</button>
				</form>
				<br>
				<a href="{% url 'login' %}">Login</a>
			</div>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>
{% endblock %}