<form id="TodoUpdate" class="form-group" method="POST" action="{% url 'todo_update' todo_form.instance.pk %}">
  <div id="update-modal-header" class="modal-header">
    <h5 class="modal-title">Edit task:</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  {% csrf_token %}
  <p class="custom_p">Task:</p>{{todo_form.Task}}
  <p class="custom_p">Due:</p>{{todo_form.Due}}
  <p class="custom_p">Extra Info:</p>{{todo_form.Info}}
  </div>
  <div class="modal-footer">
    <button id="form-button" type="submit">Edit task</button>
  </div>
</form>

<script type="text/javascript">
// Datepicker jquery
$( function(){
  $("#datepicker").datepicker();
});
</script>

<!--  -->